.home-slogan {
  background-color: #FFF;
  font-style: italic;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 0 3rem
}

.clients-container {
  background-color: #FFF;
  color: #090909;
  min-height: 30vh;
  padding-bottom: 3rem;

  .clients-header {
    color: #DADADA;
    font-size: rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    letter-spacing: 0.2rem;
  }
}

.home-image-container {
  img {
    width: 100%;
    height: auto;

  }
}