.home-slogan {
  background-color: #FFF;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  padding: 3rem
}

.clients-container {
  background-color: #FFF;
  color: #090909;
  min-height: 30vh;
}