.who-container {
  background-color: #DADADA;

  h1, h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  p {
    font-size: 0.85rem;
  }

  .image-wrapper {
    object-fit: contain;
   img {
     min-width: 100%;
     max-height: 130vh;
   }
  }
}