.banner-container {
  height: calc(100vh - 70px);
  overflow-y: hidden;
  background-color: #FFFFFF;
}

#background-video {
  width: 100vw;
  height: calc(100vh - 18vh);
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  //z-index: -1;
}

.banner-logo-container {
  position: absolute;
  height: calc(8vh + 70px);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;

  img.body-img {
    height: 8vh;
  }
}


