.brand-circle {
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #DADADA;
  height: 18vh;
  width: 18vh;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: grayscale(0%);
  }
}

.brand {
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}


@media (max-width: 450px) {
  .brand-circle {
    height: 16vh;
    width: 16vh;
  }
}
