.mobile-logo {
  display: none;
}

.main-nav {
  height: 13vh;
  background-color: transparent;

  //&.works {
  //  background-color: white;
  //}

 //&.works {
 //  img {
 //    filter: invert(0.7);
 //  }
 //}

  & img {
    margin-left: 1rem;
    max-height: 8vh;
  }

  &.open {
    background-color: #2D2A2B;

    .woosh-nav-link {
      color: #DADADA;

      &.actual, &:hover {
        color: #FFF;
        transition: 0.5s;
      }
    }
  }
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0 1rem;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  overflow-y: hidden;

  .bar {
    width: 45px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.7s ease-in-out;
    background-color: #DADADA;
    border-radius: 4px;
  }
}

.woosh-nav-link {
  color: #DADADA;
  font-family: 'Inter', sans-serif;
  //transition: 0.5s;

  &.actual, &:hover {
    color: #2D2A2B;
    //transition: 0.5s;
  }
}

@media (max-width: 575.99px) {
  .mobile-logo {
    display: inline;
  }

  .menu-toggle {
    display: inline;
  }

  .bar {
    display: block;
    cursor: pointer;
  }

  .desktop-logo {
    display: none;
  }

  .main-nav {
    max-height: none;
  }

  #basic-navbar-nav {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 10vh;
    left: 0;
    background-color: #2D2A2B;
    z-index: 100;
  }

  .menu-toggle.open .bar:nth-child(2){
    opacity: 0;
    transform: translateX(-100px);
  }

  .menu-toggle.open .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg)
  }

  .menu-toggle.open .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg)
  }
}