@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
  font-family: "Helvetica";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Open Sans', sans-serif;
  &.thin {
    font-weight: 300;
  }

  &.medium-bold {
    font-weight: 600;
  }

  &.ultra-bold {
    font-weight: 700;
  }
}

h1, h2, h3, h4, .titles {
    font-family: "Inter";
    letter-spacing: 10px;
}

